Source: mali-utgard-driver
Section: non-free/x11
Priority: optional
Maintainer: Jonah Brüchert <jbb@kaidan.im>
Build-Depends: chrpath,
               debhelper (>= 12),
               dh-exec,
               libdrm2,
               libffi6,
               libwayland-client0,
               libwayland-server0,
               libx11-6,
               libxau6,
               libxcb1,
               libxdamage1,
               libxdmcp6,
               libxext6,
               libxfixes3,
               poppler-utils
Standards-Version: 4.3.0
XS-Autobuild: yes
Vcs-Git: https://gitlab.com/debian-pm/mainline/mali-utgard-driver.git
Vcs-Browser: https://gitlab.com/debian-pm/mainline/mali-utgard-driver

Package: mali-400-fbdev-driver
Architecture: arm64 armhf
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: libegl1, libgles1, libgles2, libopencl1
Conflicts: libegl1, libgles1, libgles2, libopencl1
Replaces: libegl1, libgles1, libgles2, libopencl1
Description: Mali binary framebuffer driver for 400
 This is a binary graphics driver for Arm Mali GPU hardware. It
 provides optimized hardware acceleration of OpenGL applications using
 the kernel framebuffer, on Mali 400 (utgard) GPU hardware.

Package: mali-400-wayland-driver
Architecture: arm64 armhf
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: libegl1,
          libgbm1,
          libgles1,
          libgles2,
          libopencl1,
          libwayland-egl1-mesa
Conflicts: libegl1,
           libgbm1,
           libgles1,
           libgles2,
           libopencl1,
           libwayland-egl1-mesa
Replaces: libegl1,
          libgbm1,
          libgles1,
          libgles2,
          libopencl1,
          libwayland-egl1-mesa
Description: Mali binary wayland driver for 400
 This is a binary graphics driver for Arm Mali GPU hardware. It
 provides optimized hardware acceleration of OpenGL applications using
 wayland, on Mali 400 (utgard) GPU hardware.
