#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	dh_install

        #Generate ld.so.conf
	echo "/usr/lib/\$(DEB_HOST_MULTIARCH)/mesa-egl" > "debian/ld.so.conf"

	find debian -type f -name "*.so" | xargs -t -n 1 chrpath -d

# put license in every package
override_dh_installdocs:
	# extract EULA from pdf file
	pdftotext -eol unix -nopgbrk -layout EULA\ for\ Mali\ 400MP\ _AW.pdf EULA_for_mali_400MP.txt

	# Include copyright only once, since we only have on page in txt
	sed -i 's/copyright@2016 by Allwinner Technology Co., Ltd.//g' EULA_for_mali_400MP.txt
	sed -i '1icopyright@2016 by Allwinner Technology Co., Ltd.' EULA_for_mali_400MP.txt
	dh_installdocs -A 'EULA_for_mali_400MP.txt'

control: debian/control
debian/control: debian/genpackages debian/control-header
	debian/genpackages

# no need for all this
override_dh_auto_configure override_dh_auto_build override_dh_auto_test override_dh_auto_install override_dh_auto_clean override_dh_dwz:

.PHONY: control
